@import "bourbon";
@media only screen and (max-width : 1500px){
  .routes__item__top{
    min-height: 345px;
  }
  .footer__item a{
    font-size: 11px;
  }
}
@media only screen and (max-width : 1200px){
  .footer__item a{
    font-size: 9px;
  }
  .routes__item__top{
    min-height: 404px;
  }


}
@media only screen and (max-width : 1064px){
    .routes__item__top{
      min-height: 490px;
    }
}
@media only screen and (max-width : 992px) {
  .rus-region__item_high{
    min-height: 251px;
    span{
      top: 90px;
    }
    p{
      top: 130px;
    }
  }
  .footer__item a{
    font-size: 15px;
  }
  .footer__item_color{
    margin-top: 35px;
  }


}