@import "bourbon";
@media only screen and (max-width : 1500px){
  .routes__item__top{
    min-height: 345px;
  }
  .footer__item a{
    font-size: 11px;
  }
}

@media only screen and (max-width : 1200px){
  .footer__item a{
    font-size: 9px;
  }
  .routes__item__top{
    min-height: 404px;
  }


}
@media only screen and (max-width : 1064px){
    .routes__item__top{
      min-height: 490px;
    }
  .routes__item__p1{
    font-size: 15px;
  }
}
@media only screen and (max-width : 992px) {
  .routes__item__p1{
    font-size: 25px;
  }
  .routes__item__p2{
    font-size: 20px;
  }
  .rus-region__item_high{
    min-height: 251px;
    span{
      top: 90px;
    }
    p{
      top: 130px;
    }
  }
  .footer__item p{
    max-width: 341px;
  }
;
  .footer__item a{
    font-size: 13px;
  }
  .footer__item_color{
    margin-top: 35px;
  }


}
@media only screen and (max-width : 582px){
  .footer__item_color{
    font-size: 10px!important;
    margin-top: 65px;
  }
}
@media only screen and (max-width : 350px){
  .news{
    float: none!important;
  }
  .news-right{
    float: none!important;
    position: static;
  }
  .routes__item__p1{
    font-size: 20px;
  }
  .footer__item a{
    font-size: 12px;
  }
  .footer__item p{
    font-size: 10px;
  }
  .footer__item_color{
    margin-top: 65px;
    font-size: 9px!important;
  }
}