@import "bourbon";
@import "vars.scss";
@import "../libs/lightslider/dist/css/lightslider.min.css";
body{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
a:hover{
  color: #000;
  text-decoration: underline;
}
.header-slider{
  li{
    height: 707px;
    position: relative;
    overflow: hidden;
  }
  video{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-size: cover;
    transform: scale(1.72);
    vertical-align: top;
  }
}
.header-top__menu{
  .padding-map{
    padding: 12px 14px;
  }
}
header{
  overflow: hidden;
  max-height: 707px;
}

@import "jeka/header";
@import "taras/header";








