@import "bourbon";
@media only screen and (max-width : 1462px){
  .poster-content__item__header{
    font-size: 29px;
  }
  .poster-content__item__title{
    padding-top: 20px;
  }
  .poster-content__item p{
    font-size: 16px;
  }
}

@media only screen and (max-width : 1323px){
  .poster-content__item p{
    font-size: 13px;
  }
  .poster-content__item__p{
    font-size: 14px;
  }
}
@media only screen and (max-width : 1200px) {
  .poster-pr0{
    padding-right: 15px;
  }
  .poster-pl0{
    padding-left: 15px;
  }
  .poster-p0{
    padding: 0 15px;
  }
  .poster-pl39{
    padding-left: 15px;
  }
  .or__item span {
    font-size: 23px;
  }
  .or__item p {
    font-size: 13px;
  }
  .header-slider{
    h2{
      font-size: 50px;
      font-weight: 700;
    }
    p{
      font-size: 26px;
    }
  }
  .header-top__menu{
    li a{
      font-size: 13px;
    }
    li.with-sub-menu{
      .sub-menu{
        display: block;
        top: 53px;
      }
    }
  }

}
@media only screen and (max-width : 1160px) {
  .header-top__menu:not(.header-top__lang) {
    padding-top: 40px;
    height: 0;
    overflow: hidden;
    &.active{
      height: auto;
    }
    li {
      width: 100%;
      padding-right: 0;
      padding-left: 0;
      text-align: center;
      a {
        font-size: 12px;
      }
    }
    li.with-sub-menu{
      .sub-menu{
        position: static;
        display: none;
        background: none;
        padding-top: 20px;
      }
      &.active{
        .sub-menu{
          display: block;
        }
      }
    }
  }
  .gamburger {
    display: block;
    span {
      transition: .4s all;
    }
    &.active {

      span:first-child {
        transform: rotate(45deg) translateX(6px) translateY(6px);
      }
      span:nth-child(2) {
        transform: rotate(-45deg) translateX(-1px) translateY(0px);
      }
      span:last-child {
        opacity: 0;
      }
    }
  }
}
@media only screen and (max-width : 992px) {
  .header-slider{
    h2{
      font-size: 47px;
      font-weight: 700;
    }
    p{
      font-size: 23px;
    }
  }
}
@media only screen and (max-width : 768px) {
  .header-slider{
    h2{
      font-size: 42px;
    }
    p{
      font-size: 20px;
    }
  }
}

@media only screen and (max-width : 642px) {
  .poster-image{
    min-height: 52vw;
  }
}

@media only screen and (max-width : 480px) {
  .or__item span {
    font-size: 24px;
  }
  .or__item p {
    font-size: 14px;
  }
  .header-slider{
    h2{
      font-size: 34px;
    }
    p{
      font-size: 20px;
    }
  }
}
