@import url(../libs/lightslider/dist/css/lightslider.min.css);
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

.header-slider li {
  height: 768px; }

header {
  position: relative; }

.header-slider li {
  background-size: cover; }

.header-top_red {
  color: #dd0808; }

.header-top {
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  z-index: 2;
  width: 100%; }

.logo {
  padding-top: 20px; }
  .logo a {
    font-size: 32px;
    font-weight: 500;
    color: black;
    padding-right: 7px; }
    .logo a:hover {
      text-decoration: none; }
  .logo p {
    font-size: 12px;
    font-weight: 400;
    color: black;
    border-left: 2px dotted #8b8b8b;
    padding-left: 15px;
    line-height: 15px; }

.header-slider li {
  text-align: center;
  padding-top: 285px; }

.header-btn {
  margin-top: 80px; }

.header-slider-container .lSPager.lSpg {
  position: absolute;
  width: 100%;
  bottom: 65px; }
  .header-slider-container .lSPager.lSpg li.active a {
    background-color: white; }
  .header-slider-container .lSPager.lSpg li a {
    background-color: transparent;
    border: 1px solid white;
    height: 14px;
    width: 14px; }
    .header-slider-container .lSPager.lSpg li a:hover {
      background-color: rgba(255, 255, 255, 0.5); }

.header-top__menu {
  border-top: 1px solid lightgrey;
  margin-top: 20px; }
  .header-top__menu li {
    display: inline-block;
    padding-top: 17px;
    padding-bottom: 18px;
    padding-right: 70px; }
    .header-top__menu li.with-sub-menu {
      cursor: pointer;
      position: relative; }
      .header-top__menu li.with-sub-menu:after {
        display: inline-block;
        width: 10px;
        height: 6px;
        background-repeat: no-repeat;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAZUlEQVQIW43NUQ2DQBAE0IeDSqgEJCChEioBCUgABSABCTigUpDQzIVL+KBJ529v3u02/kyDD0YsP/680Qe22DLc4KABr8DkiRUzpvOtAHQ4Kkz3ODfvqJcKSnmFFWdzypwtKPkCP3UQB1Q+43wAAAAASUVORK5CYII=);
        content: "";
        vertical-align: middle;
        margin-left: 8px; }
      .header-top__menu li.with-sub-menu .sub-menu {
        visibility: hidden;
        position: absolute;
        top: 52px;
        left: -10px;
        background-color: rgba(255, 255, 255, 0.9);
        -webkit-transition: .2s all;
        transition: .2s all;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        opacity: 0;
        min-width: 180px; }
        .header-top__menu li.with-sub-menu .sub-menu li {
          padding: 0;
          display: block; }
        .header-top__menu li.with-sub-menu .sub-menu a {
          padding: 10px 10px; }
      .header-top__menu li.with-sub-menu.active .sub-menu {
        visibility: visible;
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); }
      .header-top__menu li.with-sub-menu.active:after {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg); }
    .header-top__menu li a {
      color: #222;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      display: inline-block;
      vertical-align: middle;
      -webkit-transition: .2s all;
      transition: .2s all; }
      .header-top__menu li a:hover {
        text-decoration: none;
        color: grey; }
      .header-top__menu li a:focus {
        text-decoration: none; }

.header-top__lang {
  margin-top: 0;
  margin-right: 15px;
  margin-left: 15px;
  border-top: none;
  border-left: 1px dotted grey;
  border-right: 1px dotted grey; }
  .header-top__lang li.with-sub-menu {
    padding: 0px 12px; }
    .header-top__lang li.with-sub-menu a {
      color: #222;
      font-size: 14px;
      font-weight: 400; }
    .header-top__lang li.with-sub-menu .sub-menu {
      background-color: white;
      min-width: 100%;
      left: 0; }

.pull-social {
  padding-right: 40px;
  padding-top: 30px; }
  .pull-social .inline-block {
    vertical-align: middle; }

.social a {
  display: inline-block;
  width: 35px;
  height: 25px;
  text-align: center;
  vertical-align: middle;
  position: relative; }

.social i {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center; }
  .social i:after {
    content: "";
    position: absolute;
    width: 44px;
    height: 44px;
    left: 50%;
    top: 50%;
    margin-left: -22px;
    margin-top: -22px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    border: 1px solid black;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s all;
    transition: .3s all; }
  .social i:hover:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

.user-menu {
  vertical-align: middle; }
  .user-menu span {
    color: #222;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase; }

.padding-map {
  padding: 1px 10px; }
