*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

.news-mid {
  margin-top: 30px; }

.news-right {
  color: #222;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase; }

.news-left {
  padding-bottom: 20px; }

.news-bord {
  border-top: 1px solid #d3d3d3; }

.line {
  width: 65px;
  height: 3px;
  background-color: #dedede;
  margin-top: 16px; }

.news-bord h4 {
  color: #222;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  padding-top: 30px;
  min-height: 102px; }

.data {
  color: #dd0808;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 10px; }

.locale {
  color: #8b8b8b;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 8px; }

.info-sity {
  color: #222;
  font-family: 'Istok Web', sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
  padding-top: 15px;
  padding-bottom: 15px; }

.news-bord img {
  width: 100%; }

.news-ser {
  color: #8b8b8b;
  font-family: 'Istok Web', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding-top: 15px;
  max-height: 210px;
  overflow: hidden; }

.all-news-popup {
  border: 2px solid lightgrey;
  background: #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #222;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
  padding: 15px 39px; }
  .all-news-popup:hover {
    background-color: #8a8a8a; }

.news p {
  color: #222;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 15px 0 20px 0; }

.routes {
  margin-top: 30px; }

.routes__item__top {
  min-height: 227px;
  background: no-repeat;
  margin-top: 20px;
  background-size: cover; }

.routes__item__p1 {
  color: #222;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  padding: 32px 51px 0 76px; }

.routes__item__p2 {
  color: #222;
  font-family: 'Istok Web', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  padding: 10px 21px 24px 78px; }

.bg-grey {
  background-color: #f3f3f3; }
  .bg-grey h3 {
    padding-bottom: 2px; }
  .bg-grey p {
    text-transform: uppercase;
    padding-bottom: 25px; }

.h3-border {
  border-left: 3px solid #dd0808;
  padding-left: 10px;
  margin-bottom: 12px;
  margin-top: 30px; }

.or {
  padding: 15px 17px; }

.or-border {
  border-top: 1px solid lightgrey; }

.or__item {
  min-height: 250px;
  text-align: center;
  position: relative;
  border: 1px solid white;
  display: block; }
  .or__item span, .or__item p {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1; }
  .or__item span {
    font-size: 26px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    top: 90px; }
  .or__item p {
    font-size: 15px;
    font-weight: 400;
    width: 100%;
    top: 130px; }
  .or__item:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.75);
    -webkit-transition: .2s all;
    transition: .2s all; }
  .or__item:hover:after {
    opacity: 1;
    visibility: visible; }

.krasnodar {
  background-image: url("../img/raster/bg-tree.png");
  text-align: center; }
  .krasnodar h2 {
    text-transform: uppercase;
    color: white;
    padding-top: 60px;
    padding-bottom: 20px; }
  .krasnodar p {
    text-transform: uppercase; }

.btn-overall {
  background: none;
  border: 2px solid white;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: white;
  font-size: 19px;
  font-weight: 400;
  padding: 15px 32px; }
  .btn-overall:hover {
    background-color: #4b3730;
    -webkit-transition: 0.5s all;
    transition: 0.5s all; }

.kr-btn {
  margin: 60px 0; }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1500px) {
  .news-ser {
    max-height: 140px; } }

@media only screen and (max-width: 1200px) {
  .news-ser {
    max-height: 139px; }
  .krasnodar h2 {
    font-size: 50px;
    font-weight: 700; }
  .krasnodar p {
    font-size: 26px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .krasnodar h2 {
    font-size: 47px;
    font-weight: 700; }
  .krasnodar p {
    font-size: 23px; }
  .news-ser {
    max-height: 235px; }
  .news-mid__item {
    min-height: 592px; }
  .routes__item {
    min-height: 474px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .krasnodar h2 {
    font-size: 42px; }
  .krasnodar p {
    font-size: 20px; }
  .news-mid__item {
    min-height: 10px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .krasnodar h2 {
    font-size: 34px; }
  .krasnodar p {
    font-size: 20px; } }

/* ============================ form css =========================== */
.inner {
  max-width: 1600px;
  margin: 0 auto; }

h2 {
  font-size: 52px;
  font-weight: 700; }

h3 {
  color: #222;
  font-size: 36px;
  font-weight: 500;
  line-height: 35px; }

.p-thin {
  font-size: 28px;
  font-weight: 300;
  color: white; }

p {
  font-size: 18px;
  font-weight: 400; }

.p-bold {
  font-size: 26px;
  font-weight: 700; }

.p-small {
  color: white;
  font-size: 17px;
  font-weight: 400; }

.jb_input .mess_error {
  position: relative;
  width: 100%;
  padding: 5px 0px;
  top: -5px;
  float: left; }

/* ============================ form css media =========================== */
.h3-border-cont {
  position: relative; }

.news-right {
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -6px; }

.rus-region *[class*="col-"] {
  padding: 0px; }

.rus-region .row {
  margin: 0; }

.rus-region__item_long {
  min-height: 251px; }

.rus-region__item {
  background-size: cover;
  min-height: 252px; }
  .rus-region__item p {
    text-shadow: 0.3px 0.9px 3px rgba(0, 0, 0, 0.75);
    color: white;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px; }

.or-border_margin {
  margin-bottom: 20px; }

.rus-region__item_high {
  min-height: 504px; }
  .rus-region__item_high span {
    top: 250px; }
  .rus-region__item_high p {
    top: 300px; }

.footer {
  background: #2d2d2d; }

.footer__item a {
  color: white;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 40px;
  padding: 0 0 10px 15px; }

.footer__item h5 {
  color: #8b8b8b;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  padding: 20px 0 15px 20px; }

.footer__item p {
  color: white;
  font-family: Roboto;
  font-weight: 400;
  line-height: 18px;
  font-size: 13px; }

.footer__item img {
  float: left;
  margin: 15px 15px 20px 15px; }

.footer__item_border {
  border-bottom: 1px solid #505050;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-top: 15px; }

.footer__item_heigh {
  line-height: 18px;
  padding-top: 15px; }

.footer__item_color {
  color: #8b8b8b !important;
  font-size: 14px !important; }

@media only screen and (max-width: 1500px) {
  .routes__item__top {
    min-height: 345px; }
  .footer__item a {
    font-size: 11px; } }

@media only screen and (max-width: 1200px) {
  .footer__item a {
    font-size: 9px; }
  .routes__item__top {
    min-height: 404px; } }

@media only screen and (max-width: 1064px) {
  .routes__item__top {
    min-height: 490px; } }

@media only screen and (max-width: 992px) {
  .rus-region__item_high {
    min-height: 251px; }
    .rus-region__item_high span {
      top: 90px; }
    .rus-region__item_high p {
      top: 130px; }
  .footer__item a {
    font-size: 15px; }
  .footer__item_color {
    margin-top: 35px; } }
